.gpt3__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
    border-bottom-color: #fff;
    border-bottom-width: 1px;
    border-style: solid;
}

.gpt3__navbar-links {
    flex: 1;
    display: flex;
    justify-items: flex-start;
    align-items: center;
}

.gpt3__navbar-links_logo {
    margin-right: 2rem;
}

.gpt3__navbar-links_logo img {
    width: 200x;
    height: 50px;
}